*{
    margin: 0;
    padding: 0;
}

.course-expert-timing{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    background-color: #343A40;
    opacity: 0.93;
    border-radius: 1rem;

    padding: 10px;
    float: middle;
    overflow: hidden;
}

.msg{
    width: fit-content;
    height: fit-content;
    position: middle;
    margin-top: center;
    margin-bottom: center;
    margin-left: auto;
    margin-right: auto;

}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.fa-youtube:before {
    content: "\F095";
  }


.select-boxx {
    margin: 3;
    padding: 2.5;
    width: 200px;
    border-radius: 1rem;
}

.text-field {
    margin: 2.5px;
    width: 350px;
    height: 40px;
    border-radius: 1rem;
}

.name-field {
    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    position: middle;
}

.white {
    font-size: 40px;
    color: #fdfffe;
  }


h1 {
    font-weight:bold;
    font-size: 60px;
}



a{
    font-weight:bold;
    font-size: larger;
}

.btn{
    margin: 6px;
    background-color: #1A9957;
    color: white;
    border-radius: 8px;
}


.nav-link {
    text-shadow: #1A9957;;
    color: #1A9957 !important;
    }



/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #4E4E4E;
    position: relative;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color:#1A9957;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }