*{
    margin: 0;
    padding: 0;
}

.courseexpert-course-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    background-color: #343A40;
    opacity: 0.93;
    border-radius: 1rem;

    padding: 10px;
    float: middle;
    overflow: hidden;
}
.table{
    width: 400;
    height: fit-content;
    position: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    background-color: #343A40;
    opacity: 0.93;
    border-radius: 1rem;

    padding: 10px;
    float: middle;
    overflow: hidden;
}

.table1{
    width: fit-content;
    height: fit-content;
    position: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    background-color: #343A40;
    opacity: 0.93;
    border-radius: 1rem;

    padding: 10px;
    float: middle;
    overflow: hidden;
}

.select-box-university {
    margin: 3;
    padding: 2.5;
    width: 200px;
    border-radius: 1rem;
}

.select-box-university1 {
    margin: 3;
    padding: 2.5;
    width: 200px;
    height: 40px;
    border-radius: 1rem;
}


.select-box-university-2 {
    margin: 3;
    padding: 2.5;
    width: 200px;
    border-radius: 1rem;
}

.course-teach {
    margin: 2.5px;
    width: 300px;
    border-radius: 1rem;
}

.course-teach1 {
    margin: 2.5px;
    width: 300px;
    height: 40px;
    border-radius: 1rem;
}

.white {
    font-size: 40px;
    color: #fdfffe;
    
  }

.container{
    margin-left: auto;
}


h1 {
    font-weight:bold;
    font-size: 60px;
}


a{
    font-weight:bold;
    font-size: larger;
}

.btn{
    margin: 4px;
    background-color: #1A9957;
    color: white;
    border-radius: 8px;
}

.nav-link {
    text-shadow: #1A9957;;
    color: #1A9957 !important;
    }
