*{
  margin: 0;
  padding: 0;
}
.nav-link {
  text-shadow: #1A9957;;
  color: #1A9957 !important;
  }
  form.search input[type=text] {
      padding: 20px;
      font-size: 17px;
      margin: 6% 1% 3% 3%;
       position: relative;
     opacity: 0.93;
       border-radius: 50px;
      float: right;
      width: 80%;
    overflow: hidden;
    }
    
    form.search button {
    width: 20%;
      padding: 20px;
      background-color: #1A9957;
      color: white;
      font-size: 17px;
    position: relative;
        border: 1px solid grey;
         border-radius: 50px;
    
        cursor: pointer;
    }
    
    form.search button:hover {
      background: #008000;
    }
    
    form.search::after {
      content: "";
      clear: both;
      display: table;
    }
    html {
      box-sizing: border-box;
    }
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    .column {
      float: left;
      width: 33.3%;
      display: block;
        margin-left: auto;
        margin-right: auto;
      padding: 0 8px;
    }
    
    
    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .center {
      text-align: center;
      
    }
    .container {
      padding: 0 16px;
    }
    
    .container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .title {
      color: grey;
    }
    
    .button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #1A9957;
      text-align: center;
      cursor: pointer;
      width: 100%;
    }
    
    .button:hover {
        background: #008000;
    }






    .sidenav {
      width: relative;
      /* height: 100%; */
      position: fixed;
      z-index: 1;
      top: 110px;
      left: 0px;
      background: #343A40;
      overflow-x: hidden;
      padding: 8px 0;
    }
    
    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #2196F3;
      display: block;
    }
    
    .sidenav a:hover {
      color: #064579;
    }
    
    .main {
      margin-left: 140px; /* Same width as the sidebar + left position in px */
      font-size: 28px; /* Increased text to enable scrolling */
      padding: 0px 10px;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
          